[Unit]
Description=HealthHub BLE Monitor
After=network.target bluetooth.target

[Service]
Type=simple
User=openhabian
WorkingDirectory=/home/openhabian
ExecStartPre=/bin/sleep 60
ExecStart=/home/openhabian/healthub-venv/bin/python3 /home/openhabian/healthub-main/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
