[Unit]
Description=Beurer FT95 Thermometer Service
After=network.target openhab.service bluetooth.target

[Service]
Type=simple
User=openhabian
WorkingDirectory=/home/openhabian
ExecStart=/home/openhabian/healthub-main/venv/bin/python3 /home/openhabian/thermometer_service.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
